
.hero { 
    background: linear-gradient(135deg, #0f101d 0%, #102d53 100%); 
    color: #fff; 
    padding: 100px 0; 
}

.hero-highlight { 
    color: #E94560; 
    font-weight: 700; 
}

h1 { 
    font-size: 2.2rem; 
    margin-bottom: 20px; 
}
.hero p { 
    font-size: 0.85rem; 
    margin-bottom: 30px; 
    padding-left: 27%;
    padding-right: 27%;
    padding-bottom: 5px;
    opacity: 0.6;
}

.hero .red-button { 
    background: #E94560; 
    color: #fff; 
    padding: 10px 28px;
    border-radius: 30px;
    font-weight: 640; 
    cursor: pointer;
}